{% extends "principal.html" %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="col-md-6">
        <div class="card shadow p-4">
            <h2 class="text-center">Registro de Usuario</h2>
            <form action="{% url 'registrar_usuario' %}" method="post"> 
                {% load django_bootstrap5 %}
                {% csrf_token %} 
                {% bootstrap_form formulario %}         
                <div class="text-center">
                    {% bootstrap_button "Enviar" button_type="submit" button_class="btn-primary w-100" %}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
